name: build windows exe

on:
  push:
    branches: [ main ]
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install libraries
        run: |
          python -m pip install --upgrade pip
          pip install PyQt6 python-docx pyinstaller

      - name: Build exe
        run: |
          pyinstaller --noconsole --onefile --name "RaportEditor" main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RaportEditor
          path: dist/RaportEditor.exe

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/RaportEditor.exe
          body: "Gotowy plik wykonywalny dla systemu Windows."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
